body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #111;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px #00bfff;
    width: 550px;
}

h1 {
    color: #00bfff;
    font-size: 2.8rem;
    margin-bottom: 15px;
}

#hint {
    color: #aaa;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

#wordDisplay {
    font-size: 2.5rem;
    letter-spacing: 12px;
    margin-bottom: 25px;
}

#message {
    margin-top: 10px;
    font-size: 1.2rem;
    height: 25px;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    justify-items: center;
    margin: 25px 0;
}

.key {
    background-color: #00bfff;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    width: 45px;
    transition: background 0.3s, transform 0.1s;
}

.key:hover {
    background-color: #009acd;
    transform: scale(1.05);
}

.key:disabled {
    background-color: #333;
    color: #777;
    cursor: not-allowed;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #00bfff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #008fbf;
}